<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-lg-7 offset-lg-1">
      <form
        [formGroup]="form"
        (ngSubmit)="submit()"
      >
        <div class="mt-5 mb-2">
          <label
            for="exampleInputEmail1"
            class="form-label"
          >
            Email address
          </label>

          <app-field-validator>
            <input
              #forValidation
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              formControlName="email"
            >
          </app-field-validator>

        </div>
        <div class="mb-2">
          <label
            for="exampleInputPassword1"
            class="form-label"
          >
            Password
          </label>

          <app-field-validator>
            <input
              #forValidation
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              formControlName="password"
              autocomplete="on"
            >
          </app-field-validator>

        </div>
        <div
          class="text-danger mb-2"
          *ngIf="authState.error$ | async as error"
        >
          {{error}}
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="form.invalid || submitted"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>

