@use "../../mixins" as mixins ;

@include mixins.mat-table-columns((

  id: (width: 3rem, min-width: 2rem, color: gray),
  role: (width: 4rem, min-width: 4rem),
  createdAt: (width: 6rem, min-width: 5rem),
  name: (width: 8rem, min-width: 4rem),
  email: (width: 20rem),
  categories: (width: 12rem, min-width: 6rem),
  tags: (width: 12rem, min-width: 5rem),
  actions: (width: 10rem, min-width: 10rem),
));

mat-header-cell {
  font-weight: bold;
}

mat-cell {
  padding-bottom: 3px;
  padding-top: 3px;
}
