@import "../../styles/mixins";

.layout {
  display: grid;
  height: 100%;

  &__main {
    grid-area: main;
  }

  &__suggested {
    grid-area: suggested;
    padding: 20px;
  }

  &__back {
    grid-area: goBack;
  }
}

@include mobile {
  .body-general {
    overflow: scroll;
    -ms-overflow-style: none; //!* IE и Edge *!
    scrollbar-width: none; //!* Firefox *!
    &::-webkit-scrollbar {
      display: none; //!* Safari *!
    }
  }
  .layout {
    grid-template-areas:
      "main"
      "goBack";
    grid-template-rows: 1fr minmax(0, 50px);
    grid-template-columns: minmax(var(--min-screen), 1fr);

    &__suggested {
      display: none;
    }
  }
}

@include desktop-wide {
  .layout {
    grid-template-areas:
      "main suggested"
      "goBack goBack";
    grid-template-rows: 1fr minmax(0, 50px);
    grid-template-columns: minmax(var(--min-screen), 1fr) 400px;
  }
}

@include desktop-normal {
  .layout {
    grid-template-areas:
      "main suggested"
      "goBack goBack";
    grid-template-rows: 1fr minmax(0, 50px);
    grid-template-columns: minmax(var(--min-screen), 1fr) 300px;
  }
}

@include desktop-small {
  .layout {
    grid-template-areas:
      "main"
      "goBack";
    grid-template-rows: 1fr 0;
    grid-template-columns: 1fr;

    &__suggested {
      display: none;
    }
  }
}
