.header-wrapper {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}

.header {
  height: var(--header-height); /* если не указать, не будет плавности*/
  display: flex;
  box-sizing: border-box;
  border-bottom: 2px solid var(--border-color);
  background: var(--secondary-bg-color);
  transition: height var(--header-transition-time-big);
  padding: 0 20px;

  &--small {
    /* Как у РИА новости */
    height: var(--header-height-small);
    transition: var(--header-transition-time--small);
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo-img {
    cursor: pointer;
    height: 54px;
    transition: height var(--header-transition-time-big);
    display: block; /* Найти почему не применилось выравнивание к инлайн*/
    &--small {
      height: 40px;
      transition: height var(--header-transition-time--small);
    }
  }
}

.icons-container {
  display: flex;
  align-items: center;
}

.icon-wrapper {
  display: flex;
  position: relative; /* Чтобы край попапов был под кнопкой */
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;

  &__img {
    font-size: 30px;
    cursor: pointer;

    &:hover {
      font-size: 40px;
    }
  }

  &__popup {
    position: absolute;
    top: 45px;
    right: 0;
  }
}
