<div class="mb-3">
  <label
    for="password"
    class="form-label"
  >
    Password
  </label>
  <input
    [formControl]="passwordControl"
    id="password"
    class="form-control {{classes}}"
    (blur)="onTouch()"
    placeholder="{{isRequired ? 'Repeat password' : 'Repeat password or leave the field blank for not changing the password'}}"
  >
</div>

<div class="">
  <label for="confirmPassword" class="form-label">Confirm password</label>
  <input
    [formControl]="confirmControl"
    id="confirmPassword"
    class="form-control {{classes}}"
    (blur)="onTouch()"
    placeholder="{{isRequired ? 'Repeat password' : 'Repeat password or leave the field blank for not changing the password'}}"
  >
</div>
