<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-lg-7 offset-lg-1">
      <small>
        Login: admin@mail.com, password: 111111
      </small>
      <div class="alarm">{{message}}
      </div>
      <form
        [formGroup]="form"
        (ngSubmit)="submit()"
      >
        <div class="mb-3">
          <label
            for="exampleInputEmail1"
            class="form-label"
          >
            Email address
          </label>
          <input
            type="email"
            class="form-control"
            [ngClass]="{'border-danger': form.get('email')?.touched && form.get('email')?.invalid}"
            id="exampleInputEmail1"
            formControlName="email"
          >
          <div
            id="emailValidation"
            class="form-text"
            *ngIf="form.get('email') && form.get('email')?.touched && form.get('email')?.invalid"
          >
            <small
              class="text-danger"
              *ngIf="form.get('email')?.errors?.['required']"
            >
              Field can not be empty
            </small>
            <small
              class="text-danger"
              *ngIf="form.get('email')?.errors?.['email']"
            >
              Enter correct email
            </small>
          </div>
        </div>
        <div class="mb-3">
          <label
            for="exampleInputPassword1"
            class="form-label"
          >
            Password
          </label>
          <input
            type="password"
            class="form-control"
            [ngClass]="{'border-danger': form.get('password')?.touched && form.get('password')?.invalid}"
            id="exampleInputPassword1"
            formControlName="password">
          <div
            id="passwordValidation"
            class="form-text"
            *ngIf="form.get('password') && form.get('password')?.touched && form.get('password')?.invalid"
          >
            <small
              class="text-danger"
              *ngIf="form.get('password')?.errors?.['required']"
            >
              Field can not be empty
            </small>
            <small
              class="text-danger"
              *ngIf="form.get('password')?.errors?.['minlength']"
            >
              Password must contain at least {{form.get('password')?.errors?.['minlength'].requiredLength}} symbols.
              Now here only {{form.get('password')?.errors?.['minlength'].actualLength}}
            </small>
          </div>
        </div>
        <div
          class="text-danger"
          *ngIf="auth.error$ | async as error"
        >
          {{error}}
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="form.invalid || submitted"
        >
          Submit
        </button>
      </form>

    </div>
  </div>
</div>

