.signUpButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 60px;
  padding: 0 10px;
  margin-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 3px;
  outline: none;
  color: var(--btn-text-color);
  background-color: var(--btn-bg-color);
  font-size: 16px;
  font-weight: bold;

  &:hover {
    background-color: var(--btn-bg-hover-color);
  }

  &__link {
    color: var(--btn-text-color);
    text-decoration: none;
  }
}
