.back {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  background: #f1f1f1;
  background: var(--primary-bg-color);
  border-top: 2px solid var(--border-color);
  display: flex;
  gap: 20px;
  align-items: center;

  &__container {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 30px;

    &:hover {
      font-size: 35px;
    }
  }

  &__labelContainer {
    width: 150px;
  }

  &__iconWrapper {
    display: flex;
    position: relative; /* Чтобы край попапов был под кнопкой */
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
  }

  &__infoContainer {
    display: flex;
    gap: 10px;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    background: var(--btn-bg-color);
    color: var(--btn-text-color);

    &:hover {
      background: var(--btn-bg-hover-color);
    }
  }
}