@import "../../styles/mixins";


/*// Мне кажется что после переноса хедера из лейаута теперь просто двухколоночный лайоут и гриды немножк избыточно
// Поэтому сделаю на флексах. Возможно появятся фичи и гриды будут оптимальнее
.layout {
  display: grid;
  &__main {
    grid-area: main;
  }
  &__suggested {
    grid-area: suggested;
  }
}

@include mobile {
  .body-general {
    overflow: scroll;
    -ms-overflow-style: none;  !* IE и Edge *!
    scrollbar-width: none;  !* Firefox *!
    &::-webkit-scrollbar {
      display: none; !* Safari *!
    }
  }
  .layout {
    grid-template-areas:
            "main";
    grid-template-rows:1fr;
    grid-template-columns: minmax(var(--min-screen), 1fr);
    &__suggested {
      display: none;
    }
  }
}

@include desktop-wide {
  .layout {
    grid-template-areas:
            "main suggested";
    grid-template-rows:1fr;
    grid-template-columns: minmax(var(--min-screen), 1fr) 400px;
  }
}

@include desktop-normal {
  .layout {
    grid-template-areas:
            "main suggested";
    grid-template-rows: 1fr;
    grid-template-columns: minmax(var(--min-screen), 1fr) 300px;
  }
}

@include desktop-small {
  .layout {
    grid-template-areas:
            "main";
    grid-template-rows:1fr;
    grid-template-columns: minmax(var(--min-screen), 1fr);
    &__suggested {
      display: none;
    }
  }
}*/

// На флексах
.layout {
  display: flex;
  &__main {
    min-width: var(--min-screen);
    flex: 1 1 auto;
  }
  &__suggested {
    flex-shrink: 0;
  }
}

@include mobile {
  .body-general {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .layout {
    &__suggested {
      display: none;
    }
  }
}

@include desktop-wide {
  .layout {
    &__suggested {
      flex-basis: 400px;
    }
  }
}

@include desktop-normal {
  .layout {
    &__suggested {
      flex-basis: 300px;
    }
  }
}

@include desktop-small {
  .layout {
    &__suggested {
      display: none;
    }
  }
}