
/* Нужно блочить скролл страницы при наведении, но не через overflow: hidden; найти нормальный способ */

// TODO этот блок лишний, уже есть suggested-container
// ^^^^ но тогда блок .suggested-container прилипнет к статьям, и придется делать маржин по бокам ему?
// я его сделал так как он примет основной фон (серенький), а сам блок предложенных будет с белым фоном
.suggested {
  padding: 20px;
}

.suggested-container { /* Как у ТАСС */
  display: block;
  position: sticky;
  top: calc(var(--header-height) + var(--main-gap));
  height: calc(100vh - 9em);
  background-color: var(--secondary-bg-color);
  border-radius: 20px;
  margin: 0 auto;
  padding: 15px;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari */
  }
}

.suggested-news {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: 100%;
  padding: 20px 0;
  color: var(--primary-text-color);
  overflow-wrap: anywhere;
  text-decoration: none;
  &__time {
    flex: none;
    width: 40px;
    padding-top: 7px;
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -.02em;
    text-align: left;
  }
  &__title {
    font-weight: 700;
    font-size: 19px;
    font-family: Inter,sans-serif;
    line-height: 24px;
    letter-spacing: -.02em;
    flex: 3;
  }
}

.suggested-news + .suggested-news {
  border-top: 1px solid var(--border-color);
}