.suggestedContainer { /* Как у ТАСС */
  display: flex;
  flex-direction: column;
  position: sticky;
  align-items: center;
  top: calc(var(--header-height) + var(--main-gap));
  height: calc(75vh);
  background-color: var(--secondary-bg-color);
  border-radius: 20px;
  margin: 0 auto;
  padding: 15px;
  overflow: scroll;
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari */
  }
}

