/*
Лучше сделать через @import "_mixins"; для этого в angular.json добавь настройки для препроцессора в секцию build
"stylePreprocessorOptions": {
  "includePaths": [
    "src/app"
  ]
}
вот тут подробнее https://stackoverflow.com/questions/57164159/stylepreprocessoroptions-angular-8
и еще лучше перенести файл с миксинами в assets/scss и подключить его оттуда
*/
@use "../../mixins" as mixins ;

@include mixins.mat-table-columns((

  id: (width: 3rem, min-width: 2rem, color: gray),
  createdAt: (width: 6rem, min-width: 5rem),
  updatedAt: (width: 6rem, min-width: 5rem),
  category: (width: 12rem, min-width: 5rem),
  mainTitle: (width: 20rem),
  tags: (width: 12rem, min-width: 5rem),
  actions: (width: 10rem, min-width: 10rem),
));

mat-header-cell {
  font-weight: bold;
}

mat-cell {
  padding-bottom: 3px;
  padding-top: 3px;
}
