@mixin mat-table-columns($columns)
{
  .mat-column-
  {
    @each $colName, $props in $columns {

      $width: map-get($props, 'width');

      &#{$colName}
      {
        flex: $width;
        width: $width;

        @if map-has-key($props, 'color')
        {
          color: map-get($props, 'color');
        }
        @if map-has-key($props, 'min-width')
        {
          min-width: map-get($props, 'min-width');
        }
      }
    }
  }
}
