<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Time</th>
    <th>Title</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let article of articlesList">
    <td>{{article.id}}</td>
    <td>{{article.createdDate}}</td>
    <td>{{article.createdDate}}</td>
    <td>{{article.mainTitle}}</td>
    <td class="text-nowrap">
      <a class="btn btn-outline-primary" href="#">Edit</a>

      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirm"
              (click)="openDeleteModal(article.id)">
        Delete
      </button>
    </td>
  </tr>

  </tbody>
</table>
<app-modal [isOpen]="isModalOpen" (closed)="this.isModalOpen = false" (confirmed)="confirmDeleteModal()">
  <h1>Are you really want to delete article {{selectedArticle}}</h1>
  <p>This</p>
</app-modal>
