<div class="mt-3 container">
  <h1 class="mb-3">Create an Article</h1>

  <form class="pb-3 example-form" [formGroup]="form" (ngSubmit)="submit()">
    <h4>Category</h4>
    <app-custom-category-tag-input
      [placeholder]="'Choose category or enter a new one'"
      [class]="'form-control mb-3'"
      [autocompleteOptions]="categoryAutocompleteOptions"
      [options]="categoriesList"
    ></app-custom-category-tag-input>


    <h2>Header</h2>
    <div class="mb-3" [ngClass]="{isInvalid: form.get('mainTitle')?.touched && form.get('mainTitle')?.invalid}">
      <label for="mainTitle" class="form-label">Main Title</label>
      <textarea id="mainTitle" class="form-control" rows="2"
                placeholder="What is the name of the article?"
                formControlName="mainTitle"></textarea>
      <div id="mainTitleValidation"
           *ngIf="form.get('mainTitle') && form.get('mainTitle')?.touched && form.get('mainTitle')?.invalid"
           class="form-text">
        <small *ngIf="form.get('mainTitle')?.errors?.['mainTitle']">Field can not be empty</small>
      </div>
    </div>

    <div class="mb-3" [ngClass]="{isInvalid: form.get('secondTitle')?.touched && form.get('secondTitle')?.invalid}">
      <label for="secondTitle" class="form-label">Second Title</label>
      <textarea id="secondTitle" class="form-control" rows="2"
                placeholder="What is the name of the article?"
                formControlName="secondTitle"></textarea>
      <div id="secondTitleValidation"
           *ngIf="form.get('secondTitle') && form.get('secondTitle')?.touched && form.get('secondTitle')?.invalid"
           class="form-text">
        <small *ngIf="form.get('secondTitle')?.errors?.['secondTitle']">Field can not be empty</small>
      </div>
    </div>

    <h4>Photo</h4>
    <div class="mb-3" [ngClass]="{isInvalid: form.get('photoUrl')?.touched && form.get('photoUrl')?.invalid}">
      <label for="photoUrl" class="form-label">Photo URL</label>
      <!-- <input type="file" class="form-control" id="photoUploader"
              formControlName="photoUploader">-->
      <input type="text" class="form-control" id="photoUrl"
             formControlName="photoUrl">
      <div id="photoUrlValidation"
           *ngIf="form.get('photoUrl') && form.get('photoUrl')?.touched && form.get('photoUrl')?.invalid"
           class="form-text">
        <small *ngIf="form.get('photoUrl')?.errors?.['photoUrl']">Field can not be empty</small>
      </div>
    </div>

    <div class="mb-3" [ngClass]="{isInvalid: form.get('photoText')?.touched && form.get('photoText')?.invalid}">
      <label for="photoText" class="form-label">Photo Text</label>
      <textarea id="photoText" class="form-control" rows="2"
                placeholder="What is the name of the article?"
                formControlName="photoText"></textarea>
      <div id="photoTextValidation"
           *ngIf="form.get('photoText') && form.get('photoText')?.touched && form.get('photoText')?.invalid"
           class="form-text">
        <small *ngIf="form.get('photoText')?.errors?.['photoText']">Field can not be empty</small>
      </div>
    </div>

    <h2>Body</h2>
    <div class="mb-3" [ngClass]="{isInvalid: form.get('body')?.touched && form.get('body')?.invalid}">
      <ckeditor [config]="CKEditorConfig" [editor]="Editor"
                formControlName="body"></ckeditor>

      <div id="bodyValidation"
           *ngIf="form.get('body') && form.get('body')?.touched && form.get('body')?.invalid"
           class="form-text">
        <small *ngIf="form.get('body')?.errors?.['body']">Field can not be empty</small>
      </div>
    </div>

    <h4>Tags</h4>
    <div formArrayName="tags" *ngFor="let tag of tagsAutocompleteOptions; let i = index">
      <div class="mb-3 d-flex">
        <div style="flex: 1">
          <app-custom-category-tag-input
            [placeholder]="'Choose tag or enter a new one'"
            [class]="'form-control w-100'"
            [autocompleteOptions]="tagsAutocompleteOptions[i]"
            [options]="tagsList"
          ></app-custom-category-tag-input>
        </div>
        <div class="input-group-append">
          <button
            type="button"
            class="btn btn-info ml-3"
            (click)="addTag()"
          >
            Add another tag
          </button>
          <button
            type="button"
            class="btn btn-danger ml-3"
            [disabled]="i === 0"
            (click)="RemoveTag(i)"
          >
            Remove tag
          </button>
        </div>
      </div>
    </div>

    <button type="submit" [disabled]="form.invalid || submitted" class="btn btn-primary">Save</button>
  </form>
</div>
