@import "../../../styles/mixins";

.article { /* Статьи будут в контейнере как у pg13.ru */
  max-width: var(--article-max-width);
  background-color: var(--article-bg-color);
  border-radius: 10px;
  padding: 30px 30px 10px 30px;
  margin-bottom: 20px; //Разобраться почему не работает теперь разрыв для мейна (возможно дело в скролле)
  &__header {
    padding-bottom: 20px; //Был флекс с разрывом
  }
  &__date {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    &--update {
      color: var(--article-update-color);
    }
  }
  &__title-main {
    font-size: 36px;
    line-height: 45px;
    font-weight: 700;
  }
  &__title-second {
    display: block;
    font-size: 16px;
    padding-top: 10px;
    font-weight: normal;
    color: var(--article-second-title-color);
  }
  &__photo {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__photo-img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  &__photo-text {
    display: inline-block;
    font-size: 12px;
    line-height: 13px;
    vertical-align: top;
  }
  &__boby {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  &__tags {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    border-top: 2px solid var(--border-color);
    padding-top: 10px;
  }
  &__tag {
    background: var(--primary-bg-color);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
  }
}

.img-fluid {
  display: block;
  width: 100%;
  height: auto;
  margin: 10px 0 10px 0;
}

@include mobile {
  .article {
    border-radius: 0;
    padding: 15px;
  }
}

