<div class="mt-3 container">
  <h1 class="mb-3">{{item ? 'Edit the Article' : 'Create an Article'}}</h1>

  <form class="pb-3 example-form" [formGroup]="form" (ngSubmit)="submit()">
    <h2>Category</h2>

    <app-field-validator>
      <app-custom-category-tag-input
        #forValidation
        formControlName="category"
        [name]="'category'"
        [options]="categoriesList"
      ></app-custom-category-tag-input>
    </app-field-validator>

    <h2 class="mt-3">Header</h2>
    <div class="mb-3">
      <label
        for="mainTitle"
        class="form-label"
      >
        Main Title
      </label>
      <app-field-validator>
        <textarea
          #forValidation
          id="mainTitle"
          class="form-control"
          rows="2"
          placeholder="What is the name of the article?"
          formControlName="mainTitle"
        ></textarea>
      </app-field-validator>
    </div>

    <div class="mb-3">
      <label
        for="secondTitle"
        class="form-label"
      >
        Second Title
      </label>
      <app-field-validator>
        <textarea
          #forValidation
          id="secondTitle"
          class="form-control"
          rows="2"
          placeholder="What is the second title of the article?"
          formControlName="secondTitle"
        ></textarea>
      </app-field-validator>
    </div>

    <h4>Photo</h4>
    <div class="mb-3">
      <label
        for="photoPass"
        class="form-label"
      >
        Photo URL
      </label>
      <app-field-validator>
        <input
          #forValidation
          type="text"
          class="form-control"
          id="photoPass"
          placeholder="What is the main photo of the article?"
          formControlName="photoPass"
        >
      </app-field-validator>
    </div>

    <div class="mb-3">
      <label
        for="photoText"
        class="form-label"
      >
        Photo Text
      </label>
      <app-field-validator>
        <textarea
          #forValidation
          id="photoText"
          class="form-control"
          rows="2"
          placeholder="What is the description of the photo?"
          formControlName="photoText"
        ></textarea>
      </app-field-validator>
    </div>

    <h2>Body</h2>
    <div class="mb-4">
      <app-field-validator>
        <ckeditor
          #forValidation
          [config]="CKEditorConfig"
          [editor]="Editor"
          formControlName="body"
        ></ckeditor>
      </app-field-validator>
    </div>

    <app-custom-category-tag-group
      formControlName="tags"
      [name]="'tag'"
      [options]="tagsList"
    >
    </app-custom-category-tag-group>

    <div class="mt-5 d-flex justify-content-center">
      <button
        type="submit"
        class="btn btn-primary fixed-width-150"
        [disabled]="form.invalid || submitted"
      >
        {{item ? 'Save changes' : 'Create Article'}}
      </button>
    </div>

  </form>
</div>
