.buttonContainer {
  display: block;
  height: 20px;
  padding: 10px 20px 10px 20px;
  text-align: right;

  &__button {
    border: 0;
    background: transparent;
    text-decoration: underline;
    cursor: pointer;
    color: var(--secondary-text-color);

    &:hover {
      color: var(--btn-bg-hover-color);
    }
  }
}
