<div class="mt-3 container">
  <h1 class="mb-3">{{item ? 'Edit the Article' : 'Create an Article'}}</h1>
<button (click)="show()">dgfhfdgh</button>
  <form class="pb-3 example-form" [formGroup]="form" (ngSubmit)="submit()">
    <h2>Category</h2>
    <app-custom-category-tag-input
      formControlName="category"
      [name]="'category'"
      [class]="form.get('category')?.touched && form.get('category')?.invalid ? 'border-danger' : 'mb-3'"
      [options]="categoriesList"
    ></app-custom-category-tag-input>
    <div
      id="categoryValidation"
      *ngIf="form.get('category') && form.get('category')?.touched && form.get('category')?.invalid"
      class="form-text"
    >
      <small class="text-danger">Field can not be empty</small>
    </div>

    <h2>Header</h2>
    <div class="mb-3">
      <label
        for="mainTitle"
        class="form-label"
      >
        Main Title
      </label>
      <textarea
        id="mainTitle"
        class="form-control"
        [ngClass]="{'border-danger': form.get('mainTitle')?.touched && form.get('mainTitle')?.invalid}"
        rows="2"
        placeholder="What is the name of the article?"
        formControlName="mainTitle"
      ></textarea>
      <div
        id="mainTitleValidation"
        *ngIf="form.get('mainTitle') && form.get('mainTitle')?.touched && form.get('mainTitle')?.invalid"
        class="form-text"
      >
        <small class="text-danger">Field can not be empty</small>
      </div>
    </div>

    <div class="mb-3">
      <label
        for="secondTitle"
        class="form-label"
      >
        Second Title
      </label>
      <textarea
        id="secondTitle"
        class="form-control"
        [ngClass]="{'border-danger': form.get('secondTitle')?.touched && form.get('secondTitle')?.invalid}"
        rows="2"
        placeholder="What is the second title of the article?"
        formControlName="secondTitle"
      ></textarea>
      <div
        id="secondTitleValidation"
        *ngIf="form.get('secondTitle') && form.get('secondTitle')?.touched && form.get('secondTitle')?.invalid"
        class="form-text"
      >
        <small class="text-danger">Field can not be empty</small>
      </div>
    </div>

    <h4>Photo</h4>
    <div class="mb-3">
      <label
        for="photoPass"
        class="form-label"
      >
        Photo URL
      </label>
      <!-- <input type="file" class="form-control" id="photoUploader"
              formControlName="photoUploader">-->
      <input
        type="text"
        class="form-control"
        [ngClass]="{'border-danger': form.get('photoPass')?.touched && form.get('photoPass')?.invalid}"
        id="photoPass"
        placeholder="What is the main photo of the article?"
        formControlName="photoPass">
      <div
        id="photoUrlValidation"
        *ngIf="form.get('photoPass') && form.get('photoPass')?.touched && form.get('photoPass')?.invalid"
        class="form-text"
      >
        <small class="text-danger">Field can not be empty</small>
      </div>
    </div>

    <div class="mb-3">
      <label
        for="photoText"
        class="form-label"
      >
        Photo Text
      </label>
      <textarea
        id="photoText"
        class="form-control"
        [ngClass]="{'border-danger': form.get('photoText')?.touched && form.get('photoText')?.invalid}"
        rows="2"
        placeholder="What is the description of the photo?"
        formControlName="photoText"></textarea>
      <div
        id="photoTextValidation"
        *ngIf="form.get('photoText') && form.get('photoText')?.touched && form.get('photoText')?.invalid"
        class="form-text"
      >
        <small class="text-danger">Field can not be empty</small>
      </div>
    </div>

    <h2>Body</h2>
    <div class="mb-4">
      <ckeditor
        [config]="CKEditorConfig"
        [editor]="Editor"
        formControlName="body"
      ></ckeditor>
      <div id="bodyValidation"
           *ngIf="form.get('body') && form.get('body')?.touched && form.get('body')?.invalid"
           class="form-text">
        <small class="text-danger">Field can not be empty</small>
      </div>
    </div>

    <app-custom-category-tag-group
      formGroupName="tags"
      [name]="'tag'"
      [options]="categoriesList"
    >
    </app-custom-category-tag-group>

    <!--<app-custom-category-tag-add
      [name]="'Add tag'"
      (addClick)="formTagService.addItem()"
    ></app-custom-category-tag-add>

    <div
      formArrayName="tags"
      class="mb-3"
      *ngFor="let tag of tagsAutocompleteOptions; let i = index"
    >
      <app-custom-category-tag-input
        formControlName="{{i}}"
        [name]="'tag'"
        [options]="categoriesList"
        [withRemove]="true"
        (removeClick)="formTagService.removeItem(i)"
      ></app-custom-category-tag-input>
    </div>-->

    <div class="mt-5 d-flex justify-content-center">
      <button
        type="submit"
        class="btn btn-primary fixed-width-150"
        [disabled]="form.invalid || submitted"
      >
        {{item ? 'Save changes' : 'Create Article'}}
      </button>
    </div>

  </form>
</div>
