@import "app/styles/utils";

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

:root {
  --primary-bg-color: #EDEEF0;
  --secondary-bg-color: white;
  --primary-text-color: black;
  --secondary-text-color: #767676;
  --border-color: gray;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --error-color: red;
  --danger-bg-color: #bd5c3e;
  --danger-text-color: black;
  --danger-bg-hover-color: red;
  --danger-text-hover-color: black;


  --btn-text-color: white;
  --btn-bg-color: gray;
  --btn-bg-hover-color: #333333;

  --popup-bg-color: #f1f1f1;

  --category-bg-hover-color: var(--border-color);

  --scroll-primary-color: var(--primary-text-color);
  --scroll-bg-color: rgba(0, 0, 0, 0.1);

  --modal-bg-color: rgba(0, 0, 0, 0.6);
  --modal-bg-after-color: rgba(0, 0, 0, 0.5);

  --user-form-input-body-color: transparent;

  --article-bg-color: var(--secondary-bg-color);
  --article-second-title-color: var(--secondary-text-color);
  --article-update-color: var(--secondary-text-color);

  --header-transition-time-big: 0.1s;
  --header-transition-time--small: 0.5s;

  --min-screen: 393px;
  --header-height: 60px;
  --header-height-small: 46px;
  --main-gap: 20px;
  --article-max-width: 1000px;
}


.body-general {
  font-family: 'Roboto', 'sans-serif';
  font-size: 16px;
  line-height: 20px;
  background: var(--primary-bg-color);
}

.modal-open {
  overflow: hidden;
}
