.suggestedNews {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px 0;
  color: var(--primary-text-color);
  overflow-wrap: anywhere;

  &__time {
    flex: none;
    width: 60px;
    padding-top: 7px;
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -.02em;
    text-align: left;
  }

  &__title {
    font-weight: 700;
    font-size: 19px;
    font-family: Inter, sans-serif;
    line-height: 24px;
    letter-spacing: -.02em;
    flex: 3;
  }
}
