@use "src/app/mixins" as mixins ;

@include mixins.mat-table-columns((

  id: (width: 3rem, color: gray),
  role: (width: 4rem),
  createdAt: (width: 6rem),
  name: (width: 8rem),
  email: (width: 20rem),
  categories: (width: 12rem),
  tags: (width: 12rem),
  actions: (width: 10rem),
));

mat-header-cell {
  font-weight: bold;
}

mat-cell {
  padding-bottom: 3px;
  padding-top: 3px;
}
