@import "mixins";

.article { /* Статьи будут в контейнере как у pg13.ru */
  background-color: var(--article-bg-color);
  border-radius: 10px;
  padding: 30px;
  &__boby {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

//деление на дальнейшие блоки вне article - лишнее, всё таки не будет переиспользования таких стилей
.article-header {
  padding-bottom: 20px; //Был флекс с разрывом
  &__title-main {
    font-size: 36px;
    line-height: 45px;
    font-weight: 700;
  }
  &__title-second {
    display: block;
    font-size: 16px;
    padding-top: 10px;
    font-weight: normal;
    color: var(--article-second-title-color);
  }
  &__photo {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.article-header-photo {
  &__img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  &__text {
    display: inline-block;
    font-size: 12px;
    line-height: 13px;
    vertical-align: top;
  }
}

.article-date {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  &__update {
    color: var(--article-update-color);
  }
}

//а вот здесь можно выделить уже фичу, чтобы картинка расстягивалась
//на всю ширину и вынести отдельным блоком
//например .img-fluid
.article-body__img {
  display: block;
  width: 100%;
  height: auto;
  margin: 10px 0 10px 0;
}

@include mobile {
  .article {
    border-radius: 0;
    padding: 15px;
  }
}