.category-dropdown {
  display: none; // так же как и в search, ты дублируешь функционал
  position: absolute;
  top: 45px;
  right: 0;
  background-color: var(--ctgr-bg-color);
  border: 1px solid var(--ctgr-bg-hover-color);
  min-width: 150px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 2;
  &__element {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    &:hover {
      background-color: var(--ctgr-bg-hover-color);
    }
  }
}

.category-dropdown__element + .category-dropdown__element {
  border-top: 1px solid var(--ctgr-bg-hover-color);
}