.header {
  display: flex;
  border-bottom: 2px solid var(--hdr-br-color);
  background: var(--hdr-bg-color);
  transition: height var(--hdr-trnst-big);
  padding: 0 20px;
  &--small {
    /* Как у РИА новости */
    height: var(--header-height-small);
    transition: var(--hdr-trnst-small);
  }
  &__logo {
    display: flex;
    align-items: center;
  }
  &__logo-img {
    height: 54px;
    transition: height var(--hdr-trnst-big);
    display: block; /* Найти почему не применилось выравнивание к инлайн*/
    &--small {
      height: 40px;
      transition: height var(--hdr-trnst-small);
    }
  }
}

.icons-container {
  display: flex;
  align-items: center;
}

.icon-wrapper {
  display: flex;
  position: relative; /* Чтобы край попапов был под кнопкой */
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  &__img {
    height: 30px;
    cursor: pointer;
    &:hover {
      height: 40px;
    }
  }
}
