@import "mixins";

.body-general {
  font-family: 'Roboto', 'sans-serif';
  font-size: 16px;
  line-height: 20px;
  background: var(--primary-bg-color);
}

//это не общий лейаут, у тебя для разных экранов он разный и происходит ненужное переопределение
.layout {
  display: grid;
  &__header {
    height: var(--header-height); /* если не указать, не будет плавности*/
    grid-area: head;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
  }
  &__scroll {
    grid-area: scro;
    z-index: 0;
  }
  &__main {
    grid-area: main;
  }
  &__suggested {
    grid-area: sugg;
  }
}

@include mobile {
  .body-general {
    overflow: scroll;
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Safari */
    }
  }
  .layout {
    grid-template-areas:
            "head"
            "main";
    grid-template-rows: var(--header-height) 1fr;
    grid-template-columns: minmax(var(--min-screen), 1fr);
    &__scroll {
      display: none;
    }
    &__suggested {
      display: none;
    }
  }
}

//я не увидел у тебя трёх колонок, это ошибка
// сама шапка это одна строка через flex, чем общая часть лейаута
// скролл всё равно сделан через position: fixed вне лейаута
// Ещё: scro - не надо так сокращать, ничего не выиграл от такого сокращения
@include desktop-wide {
  .layout {
    grid-template-areas:
            "head head head"
            "scro main sugg";
    grid-template-rows: var(--header-height) 1fr;
    grid-template-columns: 150px minmax(var(--min-screen), 1fr) 400px; /* Pixel 5 */
  }
}

@include desktop-normal {
  .layout {
    grid-template-areas:
            "head head head"
            "scro main sugg";
    grid-template-rows: var(--header-height) 1fr;
    grid-template-columns: 150px minmax(var(--min-screen), 1fr) 300px;
  }
}

@include desktop-small {
  .layout {
    grid-template-areas:
            "head head"
            "scro main";
    grid-template-rows: var(--header-height) 1fr;
    grid-template-columns: 60px minmax(var(--min-screen), 1fr);
    &__suggested {
      display: none;
    }
  }
}
