@import "mixins";

.main {
  display: flex;
  flex-direction: column;
  padding-top: 20px; /* Не нужен снизу, ведь статьи будут нескончаемыми */
  gap: 20px;
}

@include mobile {
  .main {
    padding: 0;
  }
}

@include desktop-small {
  .main {
    padding-right: 20px;
  }
}