@import "mixins";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 20px 0;
  gap: var(--header-main-gap);
}

@include mobile {
  .main {
    padding: 0;
  }
}

@include desktop-small {
  .main {
    padding-right: 20px;
  }
}