.search-window {
  box-sizing: border-box;
  // по сути скрывается не сам search-window,
  // а попап который содержит search-window, т.е. фичу попапов выносят в отдельный блок независимый от контента что внутрь попапа попал, как и модалка авторизации
  display: none;
  position: absolute;
  padding: 20px;
  top: 45px; // не, так нельзя, ты это взял из-за того что поиск находится в шапке, надо делать относительное позиционирование от иконки которая открывает поиск
  right: 0;  //^^^^ немного не понял, у родителя (был .icon-wrapper) задано относительное позиционирование, а значит у попапа будет абсолютное относительно радителя, разве нет?
  background-color: var(--popup-bg-color);
  border: 1px solid var(--border-color);
  min-width: 260px;
  box-shadow: 0 8px 16px 0 var(--shadow-color);
  z-index: 2;
}

.search-form {
  display: flex;
  &__input {
    line-height: 21px;
    padding: 3px 9px;
    border-right: 0;
    border-radius: 0;
  }
  &__button {
    color: var(--btn-text-color);
    background-color: var(--btn-bg-color);
    border: none;
    &:hover {
      background-color: var(--btn-bg-hover-color);
    }
  }
}

