.search-window {
  box-sizing: border-box;
  display: none;
  position: absolute;
  padding: 20px;
  top: 45px;
  right: 0;
  background-color: var(--srch-bg-color);
  border: 1px solid var(--srch-br-color);
  min-width: 260px;
  box-shadow: 0 8px 16px 0 var(--srch-shdw-color);
  z-index: 2;
}

.search-form {
  display: flex;
  &__input {
    line-height: 21px;
    padding: 3px 9px;
    border-right: 0;
    border-radius: 0;
  }
  &__button {
    color: var(--srch-btn-text-color);
    background-color: var(--srch-btn-bg-color);
    border: none;
    &:hover {
      background-color: var(--srch-btn-bg-hover-color);
    }
  }
}

